domains: "django-multimail.prd-app2.codeslick.com django-multimail.codeslick.com django-multimail.com"
static_bucket: "media.codeslick.com"
static_dest: "s3://{{ static_bucket }}/{{ project_name }}"
gunicorn_reload: False

init_env_prd:
  STATIC_URL: '//s3.amazonaws.com/media.codeslick.com/{{ project_name }}/'

# Note that env vars set in the upstart config will also be set when using the
# modified manage.py file for db migration and custom management commands
init_env: "{{ init_env_common|combine(init_env_prd) }}"
