{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="span16">
    <h1>django-multimail project sightings</h1>
  </div>
</div>

<div class="row">
  <div class="hero-unit">
    <h2><a href="http://getrefinder.com" target="_blank">Refinder</a> Search above the cloud.</h2>
  </div>
</div>
<div class="row">
  <div class="hero-unit">
    <h2><a href="http://shotlistr.com" target="_blank">ShotListR</a> Work the Scene. Web based shotlist management.</h2>
  </div>
</div>
<div class="row">
  <div class="span12">
    If you use django-multimail, please let me know via <a href="https://github.com/scott2b/django-multimail">github</a>.
  </div>
</div>

{% endblock %}
